.backdropImg {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  opacity: 0.2;
}

.header {
  margin: 1.5rem 0;
}

.poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.posterImg {
  height: 350px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.info h1 {
  color: var(--white);
  margin: 0;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.info span {
  color: var(--lightGrey);
  margin-right: 0.5rem;
  font-weight: bold;
}

.rating {
  position: relative;
  top: 16px;
  padding: 0.4rem 1rem;
  background-color: var(--blue);
  border-radius: 20px;
  color: var(--white);
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px 0px;
}

.video {
  width: calc(100vw * 0.8);
  height: calc(100vh * 0.5);
}

iframe {
  height: 100%;
  width: 100%;
  border: none;
}

@media (min-width: 768px) {
  .main {
    display: flex;
    margin-bottom: 4rem;
  }

  .header {
    margin: 3rem 0;
  }

  .infoWithRating {
    margin-top: 2rem;
  }

  .poster {
    align-items: flex-start;
  }

  .posterImg {
    margin-bottom: 1rem;
    margin-right: 2rem;
  }

  .rating {
    left: 50%;
    transform: translateX(-75%);
  }

  .video {
    width: calc(100vw * 0.6);
    height: calc(100vh * 0.6);
  }
}
