.title {
  margin-bottom: 1rem;
  width: 100%;
  color: var(--white);
}

.noData {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noData h1 {
  text-align: center;
}
