.card,
.cardSm {
  width: 300px;
  margin: 1.5rem 1rem 1.5rem 0;
  background-color: rgba(245, 245, 245, 0.57);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 6px 0px;
}

.card:last-child,
.cardSm:last-child {
  margin-right: 0;
}

.card:hover,
.cardSm:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 2px 21px 0px;
  cursor: pointer;
  transition: all 300ms ease 0s;
}

.img {
  width: 300px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  object-fit: contain;
}

.cardSm,
.imgSm {
  width: 150px;
}

.imgSm {
  height: 220px;
}
