.search {
  width: 220px;
  height: 30px;
  margin: 2rem 0 1rem 0;
  line-height: 1.25rem;
  font-size: 0.875rem;
  border: 1px solid #d2d6dc;
  padding: 5px;
  padding-left: 10px;
  border-radius: 4px;
  outline: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}
