@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --white: #ffffff;
  --red: #b00;
  --blue: #40a4c8;
  --grey: #9ea0a5;
  --lightGrey: #b3bac5;
  --dark: #3e3f42;
  --light: #f6f7f9;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(30, 32, 37);
}
